<!DOCTYPE html> 
<!-- language of the page -->
<html lang="en">

    <head>

        <!-- Link to the style file -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <!--Help show thai correct characters-->
        <meta charset="UTF-8">
        <!--Help show fit page-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Title of the page-->
        <title>LUMA</title>

    </head> 

    <body>
        <!-- Navigation -->
         <header class="navbar">
            <!-- Logo -->
             <div class="logo">
                LUMA
             </div>

             <!-- Navigation links -->
              <nav class="nav-menu">
                <a href="{{ url_for('home') }}" class="active">Home</a>
                <a href="{{ url_for('image')}}">AI</a>
                <a href="{{ url_for('about')}}">About</a>

                {% if user and user['role'] in ['admin', 'super'] %}
                  <a href="{{ url_for('admin') }}">Admin</a>
                {% endif %}

                {% if user %}
                  <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                  <a href="{{ url_for('login') }}">Login</a>
                {% endif %}
              </nav>

              <!--Theme btn-->
              <label class="theme-toggle">
                <input type="checkbox"> <!--get status-->
                <span class="toggle-slider"></span> <!--output of the toggle-->
              </label>
         </header>

         <main class="home">
            <section class="hero">
                <h1>Welcome to LUMA</h1>

                <p>
                    LUMA is from the word "Learning-based Universal Media Artist"
                </p>

                <!--Button to get started -->
                {% if user %}
                  <a href="{{ url_for('image') }}" class="getstart-btn">
                      Get Started
                  </a>
                {% else %}
                  <a href="{{ url_for('login') }}" class="getstart-btn">
                      Get Started
                  </a>
                {% endif %}
            </section>

         </main>

         <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    </body>

</html>